// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    box-sizing: border-box;
    &:before, &:after {
        box-sizing: border-box;
    }
}

.status {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    p {
        margin: 4px 0;
    }
    .admin{
        display: none;
    }
    &:hover {
        background: #fafafa;
        .admin {
            display: inline;
        }
    }
}
